<div class="card">
    <div class="card__block">
        <div class="card__photo"></div>
        <div class="card__info">
            <span>Kim Sergey</span>
            <span>Frontend developer</span>
        </div>
        <div class="card__social">
            <a target="_blank" href="mailto:sergey.kim.dev@gmail.com">
                <fa-icon class="card__social-icon" [icon]="emailIcon"></fa-icon>
            </a>
            <a target="_blank" href="https://vk.com/kimoshka">
                <fa-icon class="card__social-icon" [icon]="vkIcon"></fa-icon>
            </a>
        </div>
    </div>
</div>
